{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Subir Boleta</title>
    <link rel="stylesheet" href="{% static 'boleta/subir_boleta.css' %}">
</head>

<body>
    <div class="main-container"> 
    </div>
    
    <h2 class="titulo_boleta">Sube tu nueva boleta</h2>
    
    <p class="seleciona_archivo">Por favor, selecciona el servicio y el archivo PDF de tu boleta.</p>
    
    <form method="post" enctype="multipart/form-data">
    
        {% csrf_token %}
    
        <div class="formulario-boleta">
        {{ form.as_p }}
        </div>
            
        <button class="boton" type="submit">Guardar y Procesar Boleta</button>
    </form>
    
</body>
</html>
