.boton{
    font-size: 20px;
    background-color: #9a45; /* Verde oscuro */
    color: #f9b347; /* Naranja/Amarillo */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%; /* El botón ocupa todo el ancho del formulario */
    margin-top: 15px;
    font-weight: bold;
}

.register-container{
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.tienes_cuenta{
    text-align: center;
    font-size: 15px;
    color: #dc786d;
    text-decoration: none;
    font-weight: bold;
}

.vuelve{
    font-size: 15px;
    color: #f9b347;
    text-decoration: none;
    font-weight: bold;    
}