body {
    /* 1. Imagen de Fondo: Asegura que la ruta de la imagen sea correcta */
    background-image: url('fondo_inicio.jpg'); 
    background-size: cover;          /* Cubre toda la ventana sin repetir */
    background-attachment: fixed;    /* Mantiene la imagen fija al hacer scroll */

    /* 2. Propiedades Clave para CENTRAR EL CONTENEDOR */
    display: flex;             /* Habilita el modo flexible */
    justify-content: center;   /* Centra horizontalmente */
    align-items: center;       /* Centra verticalmente */
    min-height: 100vh;         /* Ocupa toda la altura de la ventana */

    /* Reset de márgenes para evitar barras de desplazamiento */
    margin: 0;
    padding: 0;
}

/* El contenedor principal que contendrá los tres elementos */
.hub-container {
    align-items: stretch;
    display: flex; /* Habilita el modo Flexbox */
    justify-content: center; /* Centra los elementos lateralmente */
    gap: 30px; /* Espacio entre las tres columnas */
    width: 100%;
    box-sizing: border-box; /* Incluye padding en el ancho */
}

/* ================================================= */
/* ESTILOS DE LOS CONTENEDORES INTERNOS */
/* ================================================= */

.contenedor-lateral-izquierdo {
    background-color: #f3fcdb; 
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5); 
    padding: 30px;
    width: 300px; /* Ancho fijo para las columnas laterales */
    box-sizing: border-box;
    align-items: center;
    text-align: center;
    border-radius: 5px;
}
.contenedor-lateral-derecho {
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5); 
    background-color: #f3fcdb; /* Amarillo */
    padding: 10px;
    width: 200px; /* Ancho fijo para las columnas laterales */
    align-items: center;
    text-align: center;
    border-radius: 5px;
}   
.contenedor-central {
    background-color: #679a45; /* Amarillo */
    padding: 20px;
    width: 200px; /* Ancho fijo para las columnas laterales */
    height: 100%;
    align-items: center;
    text-align: center;
}

.nombre {
    color: #f3fcdb
    font-size: 24px;
    margin-bottom: 20px;
}


.logout-link{
    color: #f9b347;
    font-weight: bold;
    text-decoration: none;
    

}

.parrafo-rojo {
    background-color: transparent; /* Rojo */
    margin: 15px auto;
    padding: 30px;
    color:#679a45;
}

.graficos{
    border-radius: 12px;
    width: 90%; 
    max-width: 500px;
    box-sizing: border-box;
    background-color: #f9b347; /* Rojo */
    margin: 15px auto;
    padding: 10px;
    color: white;
    cursor: pointer;
    text-decoration: none;
}

.nueva_boleta{
    background-color: #679a45; /* Rojo */
    margin: 15px auto;
    padding: 10px;
    color: white;
    cursor: pointer;
    border-radius: 10px ;
    text-decoration: none;
}
