.main_container{
    background-color: #fff;
    width: 100px;
    height: 100px;
}

body {
    background-image: url('f1.jpg');
    background-size: cover;
    background-attachment: fixed;

    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.titulo_boleta{
    font-size: 40px;
    color: rgb(72, 165, 30);
    text-align: center;
    margin-top: 20px;
}

.seleciona_archivo{
    font-size: 20px;
    color: rgb(224, 173, 20);
    text-align: center;
    margin-bottom: 30px;
}

.boton{
    background-color: rgb(52, 96, 32);
    color: rgb(224, 173, 20);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: 20px auto;
}


.formulario-boleta {
    /* Estilo para los <p> generados por {{ form.as_p }} */
    text-align: left;
    color: rgb(72, 165, 30);
}