{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Hub de Boletas</title>
    <link rel="stylesheet" href="{% static 'boleta/home.css' %}"> 
</head>
<body>
    <div class="hub-container"> 

        <div class="contenedor-lateral-izquierdo">
            <h2 class="nombre">¿Qué es?</h2>
            <div class="parrafo-rojo">una introducción</div>
            <p><a class="graficos" href='/dashboard/'>Ver mi Dashboard (Gráficos)</a></p> 
        </div>

        <div class="contenedor-central">
            <h1 class="titulo">Bienvenido al Hub, {{ username }}!</h1>
            <p class="subtitulo">Hola {{ first_name }}, ¿Qué deseas hacer hoy?</p>
            <p><a href='/account/logout/' class="logout-link">Cerrar Sesión</a></p>

        </div>

        <div class="contenedor-lateral-derecho">
            <h2 class="nombre">¿Qué hace?</h2>
            <div class="parrafo-rojo">introducción</div>
            <p><a class="nueva_boleta" href='/subir/'>Subir Nueva Boleta</a></p>
        </div>
        
        
    </div>
</body>
</html>